<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="AutomationDesignerServiceBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="CMS.WebServices.AutomationDesignerService">
        <endpoint address="" behaviorConfiguration="AutomationDesignerServiceBehavior" binding="webHttpBinding" contract="CMS.WebServices.IWorkflowDesignerService" />
      </service>
    </services>
  </system.serviceModel>
  <system.web>
    <authorization>
        <deny users="?"/>
    </authorization>
  </system.web>
  <location path="Services/AutomationDesignerService.svc">
      <system.web>
          <authorization>
              <deny users="?"/>
          </authorization>
      </system.web>
  </location>
</configuration>
