.Debug .DebugLog
{
    border: solid 1px #ff0000;
    background-color: #ffffff;
    margin-bottom: 2px;
}

.DebugLog *
{
    color: #000;
    background-color: #fff;
    font-size: 12px;
    font-family: Arial;
    text-align: left;
    line-height: 14px;
}

.DebugLog table
{
    width: 100%;
}

.DebugLog td, .DebugLog tr, .DebugLog th
{
    border: solid 1px #cccccc;
}

.DebugLog td, .DebugLog th
{
    padding: 3px;
}

.DebugLog td
{
    border-left-color: #eee;
    border-right-color: #eee;
}

.DebugLog th
{
    font-weight: bold;
    vertical-align: middle;
    height: 30px;
    
    background: url(../../CMSPages/GetResource.ashx?image=Design/Controls/UniGrid/Header.png);
    background-position: top left;
    background-repeat: repeat-x;
    height: 27px;
}

.DebugLog th, .DebugLog .Footer tr
{
    background-color: #e0e0e0;
}

.DebugLog tr.AltRow *
{
    background-color: #F7F7F7;
}

.DebugLog th
{
    white-space: nowrap;
}

.DebugLog .Cnt
{
    text-align: center;
    vertical-align: middle;
}

.DebugLog .CenterHead
{
    text-align: center;
    white-space: nowrap;
}

.DebugLog .Dur
{
    text-align: right;
    white-space: nowrap; /*width: 70px;*/
}

.DebugLog .Index
{
    text-align: center;
    vertical-align: middle;
    width: 20px;
}

.DebugLog .LogInfo
{
    padding: 2px;
    font-weight: bold;
    background-color: #eecccc;
    border-bottom: solid 1px #ff0000;
}

.DebugLog .QueryName
{
    margin-bottom: 2px;
    padding: 1px;
    border-bottom: solid 1px #dddddd;
}

.DebugLog .QueryText
{
    color: #666;
}

.DebugLog .QueryParams, .DebugLog .QueryResults
{
    margin-top: 2px;
    padding: 1px;
    border-top: solid 1px #dddddd;
}

.DebugLog .ContextInfo
{
    color: #888888;
}

.DebugLog .Chart
{
    border: solid 1px #cccccc;
    height: 10px;
    width: 50px;
}

.DebugLog .Chart .Inner
{
    float: left;
    overflow: hidden;
    height: 10px;
}

.DebugLog .Chart.Good
{
    background-color: #bbffbb;
}

.DebugLog .Chart.Good .Inner
{
    background-color: #88dd88;
}

.DebugLog .Chart.Bad
{
    background-color: #ffbbbb;
}

.DebugLog .Chart.Bad .Inner
{
    background-color: #ff3333;
}

.DebugLog .Chart.Warn
{
    background-color: #ffcc66;
}

.DebugLog .Chart.Warn .Inner
{
    background-color: #ff9900;
}

.DebugLog .CacheDep
{
    margin-top: 2px;
    border-top: solid 1px #dddddd;
    color: #888888;
    padding-left: 10px;
}

.DebugLog .CacheKey
{
    margin-top: 2px;
    border-top: solid 1px #dddddd;
}

.DebugLog .View
{
    float: right;
    border: none;
}

.DebugLog .Yes
{
    color: green;
}

.DebugLog .No
{
    color: Red;
}

.DebugLog .Output
{
    width: 100%;
    height: 530px;
    font-family: Courier New;
}

.DebugLog .OutputInfo, .DebugLog .OutputInfo tr, .DebugLog .OutputInfo td
{
    width: auto;
    border: none;
    padding: 0px;
}